{{!-- The Social Media Link and Icon --}}
<a class="social-media-link" href="{{this.url}}" target="_blank" title="{{this.name}}">
    <em class="social-media-link__icon social-media-link__--{{this.name}}"></em>
</a>